--
-- PostgreSQL database dump
--

\restrict Ru1sfFC25qB39xizMv8Q5MR0749A3v0rhvq0Q3ZXaVqn5SmyPMr4dTDocgIzdfd

-- Dumped from database version 15.17 (Debian 15.17-1.pgdg13+1)
-- Dumped by pg_dump version 15.17 (Debian 15.17-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: OrderStatus; Type: TYPE; Schema: public; Owner: user_lajambre
--

CREATE TYPE public."OrderStatus" AS ENUM (
    'PENDIENTE',
    'PAGADO',
    'EN_CAMINO',
    'ENTREGADO',
    'CANCELADO',
    'PREPARANDO'
);


ALTER TYPE public."OrderStatus" OWNER TO user_lajambre;

--
-- Name: PointTransactionType; Type: TYPE; Schema: public; Owner: user_lajambre
--

CREATE TYPE public."PointTransactionType" AS ENUM (
    'EARNED',
    'REDEEMED',
    'EXPIRED'
);


ALTER TYPE public."PointTransactionType" OWNER TO user_lajambre;

--
-- Name: Role; Type: TYPE; Schema: public; Owner: user_lajambre
--

CREATE TYPE public."Role" AS ENUM (
    'USER',
    'ADMIN'
);


ALTER TYPE public."Role" OWNER TO user_lajambre;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Category; Type: TABLE; Schema: public; Owner: user_lajambre
--

CREATE TABLE public."Category" (
    id integer NOT NULL,
    name text NOT NULL
);


ALTER TABLE public."Category" OWNER TO user_lajambre;

--
-- Name: Category_id_seq; Type: SEQUENCE; Schema: public; Owner: user_lajambre
--

CREATE SEQUENCE public."Category_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public."Category_id_seq" OWNER TO user_lajambre;

--
-- Name: Category_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user_lajambre
--

ALTER SEQUENCE public."Category_id_seq" OWNED BY public."Category".id;


--
-- Name: Extra; Type: TABLE; Schema: public; Owner: user_lajambre
--

CREATE TABLE public."Extra" (
    id integer NOT NULL,
    name text NOT NULL,
    price integer NOT NULL,
    "isAvailable" boolean DEFAULT true NOT NULL
);


ALTER TABLE public."Extra" OWNER TO user_lajambre;

--
-- Name: Extra_id_seq; Type: SEQUENCE; Schema: public; Owner: user_lajambre
--

CREATE SEQUENCE public."Extra_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public."Extra_id_seq" OWNER TO user_lajambre;

--
-- Name: Extra_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user_lajambre
--

ALTER SEQUENCE public."Extra_id_seq" OWNED BY public."Extra".id;


--
-- Name: Order; Type: TABLE; Schema: public; Owner: user_lajambre
--

CREATE TABLE public."Order" (
    id integer NOT NULL,
    "userId" integer NOT NULL,
    status public."OrderStatus" DEFAULT 'PENDIENTE'::public."OrderStatus" NOT NULL,
    total integer NOT NULL,
    "deliveryFee" integer DEFAULT 1250 NOT NULL,
    "buyOrder" text,
    "sessionId" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "pointsEarned" integer DEFAULT 0 NOT NULL,
    "pointsUsed" integer DEFAULT 0 NOT NULL,
    "rewardType" text,
    "contactPhone" text,
    "deliveryAddress" text
);


ALTER TABLE public."Order" OWNER TO user_lajambre;

--
-- Name: OrderItem; Type: TABLE; Schema: public; Owner: user_lajambre
--

CREATE TABLE public."OrderItem" (
    id integer NOT NULL,
    "orderId" integer NOT NULL,
    "productId" integer NOT NULL,
    quantity integer NOT NULL,
    "priceAtPurchase" integer NOT NULL
);


ALTER TABLE public."OrderItem" OWNER TO user_lajambre;

--
-- Name: OrderItemExtra; Type: TABLE; Schema: public; Owner: user_lajambre
--

CREATE TABLE public."OrderItemExtra" (
    id integer NOT NULL,
    "orderItemId" integer NOT NULL,
    "extraId" integer NOT NULL,
    "priceAtPurchase" integer NOT NULL
);


ALTER TABLE public."OrderItemExtra" OWNER TO user_lajambre;

--
-- Name: OrderItemExtra_id_seq; Type: SEQUENCE; Schema: public; Owner: user_lajambre
--

CREATE SEQUENCE public."OrderItemExtra_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public."OrderItemExtra_id_seq" OWNER TO user_lajambre;

--
-- Name: OrderItemExtra_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user_lajambre
--

ALTER SEQUENCE public."OrderItemExtra_id_seq" OWNED BY public."OrderItemExtra".id;


--
-- Name: OrderItem_id_seq; Type: SEQUENCE; Schema: public; Owner: user_lajambre
--

CREATE SEQUENCE public."OrderItem_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public."OrderItem_id_seq" OWNER TO user_lajambre;

--
-- Name: OrderItem_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user_lajambre
--

ALTER SEQUENCE public."OrderItem_id_seq" OWNED BY public."OrderItem".id;


--
-- Name: Order_id_seq; Type: SEQUENCE; Schema: public; Owner: user_lajambre
--

CREATE SEQUENCE public."Order_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public."Order_id_seq" OWNER TO user_lajambre;

--
-- Name: Order_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user_lajambre
--

ALTER SEQUENCE public."Order_id_seq" OWNED BY public."Order".id;


--
-- Name: PointTransaction; Type: TABLE; Schema: public; Owner: user_lajambre
--

CREATE TABLE public."PointTransaction" (
    id integer NOT NULL,
    "userId" integer NOT NULL,
    "orderId" integer,
    points integer NOT NULL,
    type public."PointTransactionType" NOT NULL,
    "expiresAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."PointTransaction" OWNER TO user_lajambre;

--
-- Name: PointTransaction_id_seq; Type: SEQUENCE; Schema: public; Owner: user_lajambre
--

CREATE SEQUENCE public."PointTransaction_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public."PointTransaction_id_seq" OWNER TO user_lajambre;

--
-- Name: PointTransaction_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user_lajambre
--

ALTER SEQUENCE public."PointTransaction_id_seq" OWNED BY public."PointTransaction".id;


--
-- Name: Product; Type: TABLE; Schema: public; Owner: user_lajambre
--

CREATE TABLE public."Product" (
    id integer NOT NULL,
    name text NOT NULL,
    description text NOT NULL,
    price integer NOT NULL,
    image text,
    "isAvailable" boolean DEFAULT true NOT NULL,
    "categoryId" integer NOT NULL
);


ALTER TABLE public."Product" OWNER TO user_lajambre;

--
-- Name: Product_id_seq; Type: SEQUENCE; Schema: public; Owner: user_lajambre
--

CREATE SEQUENCE public."Product_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public."Product_id_seq" OWNER TO user_lajambre;

--
-- Name: Product_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user_lajambre
--

ALTER SEQUENCE public."Product_id_seq" OWNED BY public."Product".id;


--
-- Name: User; Type: TABLE; Schema: public; Owner: user_lajambre
--

CREATE TABLE public."User" (
    id integer NOT NULL,
    email text NOT NULL,
    password text NOT NULL,
    name text NOT NULL,
    phone text NOT NULL,
    address text,
    role public."Role" DEFAULT 'USER'::public."Role" NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "pointsBalance" integer DEFAULT 0 NOT NULL,
    "isVerified" boolean DEFAULT false NOT NULL,
    "verificationToken" text
);


ALTER TABLE public."User" OWNER TO user_lajambre;

--
-- Name: User_id_seq; Type: SEQUENCE; Schema: public; Owner: user_lajambre
--

CREATE SEQUENCE public."User_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public."User_id_seq" OWNER TO user_lajambre;

--
-- Name: User_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user_lajambre
--

ALTER SEQUENCE public."User_id_seq" OWNED BY public."User".id;


--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: user_lajambre
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO user_lajambre;

--
-- Name: Category id; Type: DEFAULT; Schema: public; Owner: user_lajambre
--

ALTER TABLE ONLY public."Category" ALTER COLUMN id SET DEFAULT nextval('public."Category_id_seq"'::regclass);


--
-- Name: Extra id; Type: DEFAULT; Schema: public; Owner: user_lajambre
--

ALTER TABLE ONLY public."Extra" ALTER COLUMN id SET DEFAULT nextval('public."Extra_id_seq"'::regclass);


--
-- Name: Order id; Type: DEFAULT; Schema: public; Owner: user_lajambre
--

ALTER TABLE ONLY public."Order" ALTER COLUMN id SET DEFAULT nextval('public."Order_id_seq"'::regclass);


--
-- Name: OrderItem id; Type: DEFAULT; Schema: public; Owner: user_lajambre
--

ALTER TABLE ONLY public."OrderItem" ALTER COLUMN id SET DEFAULT nextval('public."OrderItem_id_seq"'::regclass);


--
-- Name: OrderItemExtra id; Type: DEFAULT; Schema: public; Owner: user_lajambre
--

ALTER TABLE ONLY public."OrderItemExtra" ALTER COLUMN id SET DEFAULT nextval('public."OrderItemExtra_id_seq"'::regclass);


--
-- Name: PointTransaction id; Type: DEFAULT; Schema: public; Owner: user_lajambre
--

ALTER TABLE ONLY public."PointTransaction" ALTER COLUMN id SET DEFAULT nextval('public."PointTransaction_id_seq"'::regclass);


--
-- Name: Product id; Type: DEFAULT; Schema: public; Owner: user_lajambre
--

ALTER TABLE ONLY public."Product" ALTER COLUMN id SET DEFAULT nextval('public."Product_id_seq"'::regclass);


--
-- Name: User id; Type: DEFAULT; Schema: public; Owner: user_lajambre
--

ALTER TABLE ONLY public."User" ALTER COLUMN id SET DEFAULT nextval('public."User_id_seq"'::regclass);


--
-- Data for Name: Category; Type: TABLE DATA; Schema: public; Owner: user_lajambre
--

COPY public."Category" (id, name) FROM stdin;
1	Hamburguesas
2	Bebidas
\.


--
-- Data for Name: Extra; Type: TABLE DATA; Schema: public; Owner: user_lajambre
--

COPY public."Extra" (id, name, price, "isAvailable") FROM stdin;
1	Carne Extra	2000	t
2	Salsa Lajambre Extra	500	t
\.


--
-- Data for Name: Order; Type: TABLE DATA; Schema: public; Owner: user_lajambre
--



--
-- Data for Name: OrderItem; Type: TABLE DATA; Schema: public; Owner: user_lajambre
--

COPY public."OrderItem" (id, "orderId", "productId", quantity, "priceAtPurchase") FROM stdin;
1	1	6	1	1000
2	2	6	1	1000
3	3	1	1	7990
4	4	2	1	8490
5	5	4	1	8790
6	6	1	1	7990
8	8	5	1	8290
10	10	5	1	8290
11	11	5	1	8290
12	11	1	1	7990
13	12	5	1	8290
14	13	5	1	8290
15	14	5	1	8290
\.


--
-- Data for Name: OrderItemExtra; Type: TABLE DATA; Schema: public; Owner: user_lajambre
--

COPY public."OrderItemExtra" (id, "orderItemId", "extraId", "priceAtPurchase") FROM stdin;
1	10	1	2000
2	11	1	2000
3	12	1	2000
4	13	2	500
5	14	1	2000
6	15	1	2000
\.


--
-- Data for Name: PointTransaction; Type: TABLE DATA; Schema: public; Owner: user_lajambre
--

COPY public."PointTransaction" (id, "userId", "orderId", points, type, "expiresAt", "createdAt") FROM stdin;
1	2	9	112	EARNED	2026-07-28 16:19:44.68	2026-04-29 16:19:44.689
2	2	10	115	EARNED	2026-07-29 14:14:55.457	2026-04-30 14:14:55.465
3	5	12	100	EARNED	2026-07-30 16:39:43.888	2026-05-01 16:39:43.895
4	5	13	115	EARNED	2026-07-30 17:13:48.443	2026-05-01 17:13:48.447
5	5	14	-150	REDEEMED	\N	2026-05-01 17:42:57.597
6	5	14	105	EARNED	2026-07-30 17:43:48.948	2026-05-01 17:43:48.954
\.


--
-- Data for Name: Product; Type: TABLE DATA; Schema: public; Owner: user_lajambre
--



--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: user_lajambre
--



--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: user_lajambre
--



--
-- Name: Category_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user_lajambre
--

SELECT pg_catalog.setval('public."Category_id_seq"', 2, true);


--
-- Name: Extra_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user_lajambre
--

SELECT pg_catalog.setval('public."Extra_id_seq"', 2, true);


--
-- Name: OrderItemExtra_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user_lajambre
--

SELECT pg_catalog.setval('public."OrderItemExtra_id_seq"', 6, true);


--
-- Name: OrderItem_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user_lajambre
--

SELECT pg_catalog.setval('public."OrderItem_id_seq"', 15, true);


--
-- Name: Order_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user_lajambre
--

SELECT pg_catalog.setval('public."Order_id_seq"', 14, true);


--
-- Name: PointTransaction_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user_lajambre
--

SELECT pg_catalog.setval('public."PointTransaction_id_seq"', 6, true);


--
-- Name: Product_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user_lajambre
--

SELECT pg_catalog.setval('public."Product_id_seq"', 8, true);


--
-- Name: User_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user_lajambre
--

SELECT pg_catalog.setval('public."User_id_seq"', 5, true);


--
-- Name: Category Category_pkey; Type: CONSTRAINT; Schema: public; Owner: user_lajambre
--

ALTER TABLE ONLY public."Category"
    ADD CONSTRAINT "Category_pkey" PRIMARY KEY (id);


--
-- Name: Extra Extra_pkey; Type: CONSTRAINT; Schema: public; Owner: user_lajambre
--

ALTER TABLE ONLY public."Extra"
    ADD CONSTRAINT "Extra_pkey" PRIMARY KEY (id);


--
-- Name: OrderItemExtra OrderItemExtra_pkey; Type: CONSTRAINT; Schema: public; Owner: user_lajambre
--

ALTER TABLE ONLY public."OrderItemExtra"
    ADD CONSTRAINT "OrderItemExtra_pkey" PRIMARY KEY (id);


--
-- Name: OrderItem OrderItem_pkey; Type: CONSTRAINT; Schema: public; Owner: user_lajambre
--

ALTER TABLE ONLY public."OrderItem"
    ADD CONSTRAINT "OrderItem_pkey" PRIMARY KEY (id);


--
-- Name: Order Order_pkey; Type: CONSTRAINT; Schema: public; Owner: user_lajambre
--

ALTER TABLE ONLY public."Order"
    ADD CONSTRAINT "Order_pkey" PRIMARY KEY (id);


--
-- Name: PointTransaction PointTransaction_pkey; Type: CONSTRAINT; Schema: public; Owner: user_lajambre
--

ALTER TABLE ONLY public."PointTransaction"
    ADD CONSTRAINT "PointTransaction_pkey" PRIMARY KEY (id);


--
-- Name: Product Product_pkey; Type: CONSTRAINT; Schema: public; Owner: user_lajambre
--

ALTER TABLE ONLY public."Product"
    ADD CONSTRAINT "Product_pkey" PRIMARY KEY (id);


--
-- Name: User User_pkey; Type: CONSTRAINT; Schema: public; Owner: user_lajambre
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY (id);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: user_lajambre
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: OrderItemExtra_extraId_idx; Type: INDEX; Schema: public; Owner: user_lajambre
--

CREATE INDEX "OrderItemExtra_extraId_idx" ON public."OrderItemExtra" USING btree ("extraId");


--
-- Name: OrderItemExtra_orderItemId_idx; Type: INDEX; Schema: public; Owner: user_lajambre
--

CREATE INDEX "OrderItemExtra_orderItemId_idx" ON public."OrderItemExtra" USING btree ("orderItemId");


--
-- Name: OrderItem_orderId_idx; Type: INDEX; Schema: public; Owner: user_lajambre
--

CREATE INDEX "OrderItem_orderId_idx" ON public."OrderItem" USING btree ("orderId");


--
-- Name: OrderItem_productId_idx; Type: INDEX; Schema: public; Owner: user_lajambre
--

CREATE INDEX "OrderItem_productId_idx" ON public."OrderItem" USING btree ("productId");


--
-- Name: Order_buyOrder_key; Type: INDEX; Schema: public; Owner: user_lajambre
--

CREATE UNIQUE INDEX "Order_buyOrder_key" ON public."Order" USING btree ("buyOrder");


--
-- Name: Order_userId_idx; Type: INDEX; Schema: public; Owner: user_lajambre
--

CREATE INDEX "Order_userId_idx" ON public."Order" USING btree ("userId");


--
-- Name: PointTransaction_userId_idx; Type: INDEX; Schema: public; Owner: user_lajambre
--

CREATE INDEX "PointTransaction_userId_idx" ON public."PointTransaction" USING btree ("userId");


--
-- Name: User_email_key; Type: INDEX; Schema: public; Owner: user_lajambre
--

CREATE UNIQUE INDEX "User_email_key" ON public."User" USING btree (email);


--
-- Name: OrderItemExtra OrderItemExtra_extraId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user_lajambre
--

ALTER TABLE ONLY public."OrderItemExtra"
    ADD CONSTRAINT "OrderItemExtra_extraId_fkey" FOREIGN KEY ("extraId") REFERENCES public."Extra"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: OrderItemExtra OrderItemExtra_orderItemId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user_lajambre
--

ALTER TABLE ONLY public."OrderItemExtra"
    ADD CONSTRAINT "OrderItemExtra_orderItemId_fkey" FOREIGN KEY ("orderItemId") REFERENCES public."OrderItem"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: OrderItem OrderItem_orderId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user_lajambre
--

ALTER TABLE ONLY public."OrderItem"
    ADD CONSTRAINT "OrderItem_orderId_fkey" FOREIGN KEY ("orderId") REFERENCES public."Order"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: OrderItem OrderItem_productId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user_lajambre
--

ALTER TABLE ONLY public."OrderItem"
    ADD CONSTRAINT "OrderItem_productId_fkey" FOREIGN KEY ("productId") REFERENCES public."Product"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Order Order_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user_lajambre
--

ALTER TABLE ONLY public."Order"
    ADD CONSTRAINT "Order_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: PointTransaction PointTransaction_orderId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user_lajambre
--

ALTER TABLE ONLY public."PointTransaction"
    ADD CONSTRAINT "PointTransaction_orderId_fkey" FOREIGN KEY ("orderId") REFERENCES public."Order"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: PointTransaction PointTransaction_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user_lajambre
--

ALTER TABLE ONLY public."PointTransaction"
    ADD CONSTRAINT "PointTransaction_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Product Product_categoryId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user_lajambre
--

ALTER TABLE ONLY public."Product"
    ADD CONSTRAINT "Product_categoryId_fkey" FOREIGN KEY ("categoryId") REFERENCES public."Category"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- PostgreSQL database dump complete
--

\unrestrict Ru1sfFC25qB39xizMv8Q5MR0749A3v0rhvq0Q3ZXaVqn5SmyPMr4dTDocgIzdfd

